*{margin:0;
padding:0;}

body{background-color:greenyellow;
background-size:cover;
}
#timer{width:28vw;
height:35vh;
margin-left:35vw;
margin-top:28vh;
border:1px;
border-radius:2%;
background:rgba(255,255,255,0.7);}

#timer h2{
width: 10vw;
margin-left:11vw;
}
table{margin-top: 8vh;
margin-left: 3vw;}

#buttons{width:19vw;
margin-left:5vw;
margin-top:6vh;
}
button{width:71px;
height:29px;
}


.input{width: 50px;
padding: 9px;}
